@model IEnumerable<MvcCRUD.Models.Supplier>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layout/Layout.cshtml"; //Mengambil Layout
}


<!-- Button for create page
<a href="@Url.Action("Create")" class="btn btn-success m-b-15">
    <i class="mdi mdi-plus-circle"></i> Create
</a>
-->

<h1>Supplier</h1>
<!-- Button for pop up create -->
<button id="btnShowModal" type="button" class="btn pull-left hidden-sm-down btn-success" style="margin-bottom:10px"
        onclick="PopupForm('@Url.Action("Add","Supplier")')"><i class="mdi mdi-plus-circle"></i> Create</button>

<table id="myTable" class="display">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    <button id="btnShowEdit" type="button" class="btn btn-warning" onclick="PopupForm('@Url.Action("Edit","Supplier", new { id = item.Id })')" data-toggle="tooltip" data-placement="top" title="Edit">
                        <i class="mdi mdi-pen"></i>
                    </button> |

                    <a href="@Url.Action("Details", new { id = item.Id })" class="btn btn-info" data-toggle="tooltip" data-placement="top" title="Details">
                        <i class="mdi mdi-information"></i>
                    </a> |

                    <a href="@Url.Action("Delete", new { id = item.Id })" class="btn btn-danger" data-toggle="tooltip" data-placement="top" title="Delete">
                        <i class="mdi mdi-delete"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>


@section Script{
    var Popup;
    <!-- Add tooltip -->
    <script>

        $(function () {
            $('[data toogle="tooltip"]').tooltip()
        })

        function PopupForm(url) {
            var formDiv = $('<div/>');
            $.get(url)
                .done(function (response) {
                    formDiv.html(response);
                    Popup = formDiv.dialog({
                        autoOpen: true,
                        resizable: false,
                        title: 'Fill Form Supplier',
                        height: 500,
                        width: 700,
                        close: function () {
                            Popup.dialog('destroy').remove();
                        }
                    });
                });
        }
    </script>
}
